body {
  margin: 0;
  /* Autres styles globaux comme les polices ou la couleur de fond */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #494949;
  color: rgba(255, 255, 255, 0.87);
}

.pageContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.mainContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 20px 0;
}

.mainContainer > * {
  flex-basis: 50%;
  box-sizing: border-box;
}

.tasksContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 20px 0;
}

.tasksContainer > * {
  flex-basis: 33%;
  box-sizing: border-box;
}
